@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');

body {
    max-width: 940px;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
  }

h1, h2 {
    font-family: 'Lobster', cursive, Helvetica, sans-serif;
    font-size: 2em;
  }

header {
    padding: 0.5em;
    text-align: center;
    color: rgb(0, 6, 8);
    background-color: rgb(11, 132, 168);
    border-radius: 30px;
  }

footer {
    padding: 1em;
    color: rgb(0, 6, 8);
    background-color: rgb(11, 132, 168);
    border-radius: 30px;
    text-align: center;
  }

ul {
    list-style-type: none;
    align-items: left;
    font-family: 'Dancing Script', cursive, Helvetica, sans-serif;
    font-size: 1.5em;
}

.lia-picture { 
    float: right;
    margin: 1.5em;
    width: 35%;
    }
.lia-picture img { 
    border-radius: 30px;
    width: 100%;
}

.name {
    font-family: 'Lobster', cursive, Helvetica, sans-serif;
    align-items: center;
    font-size: 3em;
    margin: 0.5em;
}